/**
 * @format
 */

.react-autosuggest__container {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.react-autosuggest__input {
  border: 0;
  height: 2em;
  padding: 0 8px;
}

.react-autosuggest__suggestions-container--open {
  background: white;
  padding: 4px 0;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.react-autosuggest__suggestion {
  line-height: 2em;
  padding: 0 8px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #eee;
}
